body {
  color: #666;
}

html, body {
  height: 100%;
}

#main {
  min-height: 80%;
  overflow:auto;
	padding-bottom: 50px;
}  /* must be same height as the footer */

#footer {
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
}
