.container
  nav.navbar.navbar-default.navbar-static-top
    .navbar-left
      h1 MathMentors.com
    p.navbar-text.pull-right
      a.navbar-link(href='/login') Sign In
      br
      a.navbar-link(href='/register') Register
  ul.nav.nav-pills
    li(role='presentation')
      a(href='/') Home
    li(role='presentation')
      a(href='/about') About
    li(role='presentation')
      a(href='/faq') FAQ
