extends layout

block content
  #main
    .container
      .panel.panel-default
        .page-header
          h1.text-center <b>About Math Mentors</b>
        .panel-body
          p Math Mentors is a concept that I came up with after being a part of the developer community. If you meet any web developer, 
            span they love sharing their knowledge with others and helping them push themselves further. As a math major, I love math. There's 
            span actually a recording of myself proclaiming to the world, "I LOVE MATH", when I was six years old. To me, math is one of those 
            span fundamental concepts everyone should at least have a high school understanding of. Whether we like it or not, math is a huge part of 
            span our every day lives from checking out at the grocery store to running a business. 
          p As a developer, I don't have the opportunity to use my math degree as much as I'd like. That's when Math Mentors was born. 
            span Math Mentors isn't for students who need daily help with their homework. Instead, it's for students who occasionally need a little 
            span more assistance understanding a concept. There's no reason to have to find a tutor and pay at least $20/hr when a student needs 
            span only a few minutes of help here and there. That's where Math Mentors comes in. We're here for those students. 
      
    .container
      .panel.panel-default
        .page-header
          h1.text-center <b>About The Mentors</b>
        .panel-body
          .row
            .col-md-3
              .card
                .photo1
                h1 Judy
                h4 Full Stack Web Developer
                h4.grey <strong>Education</strong>:
                h4 BA | Math | Univ. of Rochester
                h4.grey <strong>Languages</strong>:
                h4
                  ul
                    li English
                    li Cantonese
                h4.grey <strong>Interests</strong>:
                h4
                  ul
                    li Pre-Calc
                    li Calculus
                    li Pre-Algebra
                    li Algebra
            .col-md-3
              .card
                .photo2
                h1 Denis
                h4 Senior Financial Analyst
                h4.grey <strong>Education</strong>:
                h4 MS | Math Finance | USC
                h4 BS | Math | Univ. of Rochester
                h4.grey <strong>Languages</strong>:
                h4
                  ul
                    li English
                    li Cantonese
                h4.grey <strong>Interests</strong>:
                h4
                  ul
                    li Statistics
                    li Algebra
                    li Geometry
            .col-md-3
              .card
                .photo3
                h1 Jin
                h4 Senior Financial Analyst
                h4.grey <strong>Education</strong>:
                h4 MS | Math Finance | USC
                h4.grey <strong>Languages</strong>:
                h4
                  ul
                    li English
                    li Mandarin
                h4.grey <strong>Interests</strong>:
                h4
                  ul
                    li Statistics
                    li Algebra
            .col-md-3
              .card
                .photo4
                h1 Tan
                h4 Small Business Owner
                h4.grey <strong>Education</strong>:
                h4 BA | Pol Sci | Carnegie Mellon Univ.
                h4 BBA | Econ | Carnegie Mellon Univ.
                h4.grey <strong>Languages</strong>:
                h4
                  ul
                    li English
                    li Spanish
                    li Hindi
                    li Punjabi
                h4.grey <strong>Interests</strong>:
                h4
                  ul
                    li Statistics
                    li Algebra
                    li Geometry
