extends layout

block content
  #main
    .container
      .page-header
        h1 <b>Fees</b>
      .page-body
        p None. Period. Simple, right?
        p Please don't ever give us your credit card info. We're not here to get rich being mentors. We're here to make a difference.
        p If you feel like we went above and beyond to help you, buy us a cup of coffee using the link below. We'll seriously buy a cup of coffee.
