extends layout

block content
  #main
    .container
      .page-header
        h1.text-center <b>Fees</b>
      .page-body
        p.text-center None. Period. Simple, right?
        p.text-center Please don't ever give us your credit card info. We're not here to get rich being mentors. We're here to make a difference.
        p.text-center If you feel like we went above and beyond to help you, buy us a cup of coffee using the link below. We'll seriously buy a cup of coffee.
