extends layout

block content
  #wrap
    include partials/header
  #main
    .container
      .jumbotron
        h1.text-center Get A Free Math Mentor
        h3.text-center We're not here to do your homework, we're here to help you grasp fundamental concepts.
      .row
        .col-sm-6.col-md-4
          .thumbnail
            img(src='../images/free.png' alt='free logo' width='200')
            .caption
              h3.text-center Free. Period.
              p.text-center No catches. No hidden fees. No credit Cards.
              p.text-center
                a(href='/fees') The Fine Print
        .col-sm-6.col-md-4
          .thumbnail
            img(src='../images/personalized.png' alt='personalized logo' width='200')
            .caption
              h3.text-center Personalized
              p.text-center Every student gets one on one attention.
              p.text-center
                a(href='/about') Meet The Mentors
        .col-sm-6.col-md-4
          .thumbnail
            img(src='../images/coverage.png' alt='coverage logo' width='200')
            .caption
              h3.text-center Coverage
              p.text-center We've got you covered in all realms of math.
              p.text-center
                a(href='/subjects') See what we cover.
                
    .container
      .row
        .col-md-8
          .panel.panel-default
            .page-header
              h3.text-center News
            .page-body.scrollable
              .container
                .col-md-12
                  img.img-responsive.img-rounded.pull-left(src='http://www.usnews.com/dims4/USNEWS/ef9f562/2147483647/resize/652x%3E/quality/85/?url=%2Fcmsmedia%2F95%2Fd4%2F14edd661473e86b156b58530c1cd%2F141003-teacher-editorial.jpg' alt='prof' width='100px')
                  a.right(href='http://www.usnews.com/news/stem-solutions/articles/2015/06/22/why-many-students-with-as-in-math-dont-major-in-it') Why Many Students With A's In Math Don't Major In It
              .container
                .col-md-12
                  img.img-responsive.img-rounded.pull-left(src='http://images.bwbx.io/cms/2014-06-25/0624_bschoosl_degree_970-630x420.jpg' alt='grads' width='100px')
                  a.right(href='http://www.bloomberg.com/bw/articles/2014-06-25/engineering-math-and-health-majors-get-the-best-return-on-investment-for-college-degrees') Undergrad Business Majors Don't Get The Career Payback Math Majors Do
              .container
                .col-md-12
                  img.img-responsive.img-rounded.pull-left(src='http://www.usnews.com/img/college-photo_2965._445x280-zmm.jpg' alt='UR' width='100px')
                  a.right(href='http://colleges.usnews.rankingsandreviews.com/best-colleges/university-of-rochester-2894') US News Ranks UR #33 In The Nation For National Universities
              .container
                .col-md-12
                  img.img-responsive.img-rounded.pull-left(src='https://www.urmc.rochester.edu/news/story/uploadedimages/1151394497_AIDSvirusmagenta_4419_113x82.jpg' alt='virus' width='100px')
                  a.right(href='https://www.urmc.rochester.edu/news/story/4419/3-million-funds-research-to-develop-new-hiv-vaccine-strategies.aspx') NIH Awards $3 Million To UR For HIV Research
              .container
                .col-md-12
                  img.img-responsive.img-rounded.pull-left(src='https://s3.amazonaws.com/pharmacytimes/v1_media/_articles/IMG_0223_opt.jpg' alt='pharm' width='100px')
                  a.right(href='http://www.pharmacytimes.com/pharmacy-school-qna/university-of-southern-california-school-of-pharmacy') US News & World Report Ranks USC As Top Pharmacy School
        .col-md-4 
          .panel.panel-default
            .page-header
              h3.text-center Reviews
            .page-body.scrollable
              .container
                .col-md-1
                  img.circle.pull-left(src='https://scontent-sea1-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/561972_764683675658_459622286_n.jpg?oh=3233fe72241d6627e8eeaf6fe2db748a&oe=56A2281F' width='60px' height='60px')
                .col-md-3
                  .blockquote
                    p "Judy is an awesome mentor who explains math in a way I understand."
                    footer - Sam, 4th Grade, Texas
              .container
                .col-md-1
                  img.circle.pull-left(src='https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1236195_10202034933663951_577837702_n.jpg?oh=5fbe2be26d2a5447bb13312f9232d8c3&oe=56A28573' width='60px' height='60px')
                .col-md-3
                  .blockquote
                    p "I received a response from a mentor within an hour. Doesn't get better than that!"
                    footer - Chris, Parent, Texas
              .container
                .col-md-1
                  img.circle.pull-left(src='https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/972072_10200637472994200_1577192230_n.jpg?oh=31d424e698a8fca8f7d321ae9b54107e&oe=5694731F' width='60px' height='60px')
                .col-md-3
                  .blockquote
                    p "My son needed help, but the math was way over my head. His mentor was so patient and never got frustrated."
                    footer - Crystal, Parent, Texas               
