extends layout

block content
  #main
    .container
      .page-header
        h1 Subjects We Cover
      .page-body 
        h3 We aim for 1st grade through 12th grade.
        h3 This includes all this fun stuff:
        .row
          .col-md-1.col-md-offset-1
          .col-md-4
            ul
              li Fractions
              li Exponents / Roots / Logs
              li Functions / Equations
              li Geometry
              li Graphs
              li Integers
              li Mixed Operations
              li Pecents
          .col-md-4
            ul
              li Number Theory
              li Probability / Statistics
              li Ratios / Proportions
              li Trigonometry
              li Pre-Algebra
              li Algebra
              li Pre-Calculus
              li Calculus
